<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{TITLE}}</title>
    <link rel="stylesheet" href="{{CSS}}">
  </head>
  <body>
    <div class="page">
      <nav>
        <div class="site-title">Muffin</div>
        <div class="nav-links">{{NAV}}</div>
        <footer>Baked with <a href="https://github.com/lkmariano/Muffin" target="_blank" rel="noopener noreferrer">Muffin</a> by <a href="https://github.com/lkmariano" target="_blank" rel="noopener noreferrer">lkmariano</a></footer>
      </nav>
      <main>
        <div class="content">
          <h1>{{TITLE}}</h1>
            {{CONTENT}}
        </div>
      </main>
      <aside>
        {{BACKLINKS}}
      </aside>
    </div>
    <footer>Baked with <a href="https://github.com/lkmariano/Muffin" target="_blank" rel="noopener noreferrer">Muffin</a> by lkmariano</footer>
  </body>
</html>